/*
Website Name: Demo For OpenDrawing - Feras Al Masri
Website URL: N/A
Version: 1.0
Author: Assem Zakaria
Author URL: N/A

1.  Basics
2.  Header
3.  Footer
4.  Elements
5.  Portfolio
6.  Pages
7.  Blog
8.  Transitions
9.  Media Quieries
*/


/*
================================================================
================================================================
	Basics
================================================================
================================================================
*/

    /* ---------------------- */
    /* Variable               */
    /* ---------------------- */    
        html {
            scroll-behavior: smooth;
            overflow-x: hidden;
        }

        html.no-scroll {
            overflow-y: hidden;
        }


    /* ---------------------- */
    /* Global                 */
    /* ---------------------- */


        body {
            font-family: Poppins Regular;
            padding: 0;
        	font-size: 16px;
        	line-height: 28px;
            letter-spacing: 0px;
            overflow-x: hidden;
            overflow-y: hidden;
            font-weight: normal;
            cursor: default;
            z-index: 0;
            color: #000;
            background-color: #fafafa;
        }
        p {
            /* -webkit-font-smoothing: antialiased; */
            font-weight: normal;
            color: #000;
        }
        a {
            color: #ffffff;
        }
        ul {
            font-size: 0;
        }
        ul li {
            font-size: 16px;
        }
        h1, h2, h3, h4, h5, h6 {
            letter-spacing: 0;
            font-weight: normal;
        }
        h1 {
        	font-size: 48px;
        	line-height: 52px;
        }
        h2 {
        	font-size: 32px;
        	line-height: 42px;
        }
        h3 {
        	font-size: 20px;
        	line-height: 35px;
        }
        h4 {
        	font-size: 18px;
        	line-height: 31px;
        }
        h5 {
        	font-size: 14px;
        	line-height: 25px;
        }
        h6 {
        	font-size: 13px;
        	line-height: 20px;
        }
        section {
            position: relative;
        }



/*
================================================================
================================================================
	Header
================================================================
================================================================
*/

    header {
        width: 100vw;
        position: fixed;
        background-color: transparent;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 30px 100px;
        border-bottom: 1px #ffffff1f solid;
        z-index: 1;
    }

    header > a img {
        width: 150px;
        transition: transform 0.4s cubic-bezier(0.215, 0.610, 0.355, 1.000);
        transform-origin: left;
    }

    header nav {
        height: fit-content;
    }

    header ul {
        display: none;
    }

    header li {
        display: flex;
        gap: 20px;
        font-size: 15px;
        line-height: 17px;
        letter-spacing: 0px;
        color: #3e6a68;
    }

    header li a {
        color: inherit;
    }




/*
================================================================
================================================================
    Loader
================================================================
================================================================
*/

    #loader-cont {
        height: 100vh;
        width: 100vw;
        background-color: #ffffff;
        z-index: 2;
        position: absolute;
        top: 0;
        left: 0;
    }

    #loader-cont svg {
        height: 100%;
        width: 100%;
    }


/*
================================================================
================================================================
    Hero
================================================================
================================================================
*/
    
    #hero-section {
        height: 100vh;
        width: 100vw;
        display: flex;
        align-items: center;
        padding: 0px 100px;
        background: linear-gradient(0deg, rgb(238 168 77 / 29%) 0%, rgba(255, 255, 255, 1) 26%);
        gap: 40px;
    }

    #left-cont {
        width: 50%;
        display: flex;
        flex-direction: column;
        align-items: start;
    }

    #left-cont h1 {
        font-size: 55px;
        line-height: 70px;
        letter-spacing: 0;
        color: #3e6a68;
        margin-bottom: 16px;
    }

    #left-cont h1 b {
        font-weight: bold;
        text-decoration: underline;
        text-decoration-thickness: 3px;
        text-underline-offset: 8px;
        font-size: 64px;
        line-height: 75px;
    }

    #left-cont h2 {
        font-size: 17px;
        line-height: 24px;
        letter-spacing: 0;
        color: #3e6a68;
        margin-bottom: 25px;
    }

    #left-cont a {
        font-size: 17px;
        line-height: 23px;
        letter-spacing: 0;
        padding: 12px 30px;
        background: linear-gradient(90deg, rgb(68 110 108) 0%, rgb(86 148 142) 146%);
    }


    #right-cont {
        flex-grow: 1;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    #right-cont svg {
        width: 75%;
    }




/*
================================================================
================================================================
    Footer
================================================================
================================================================
*/
    footer {
        position: fixed;
        bottom: 0;
        width: 100vw;
        padding: 30px 100px;
        background-color: transparent;
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-top: 1px #ffffff1f solid;
    }

    footer .footer-left-cont {
        font-size: 12px;
        line-height: 15px;
        display: flex;
        gap: 17px;
        color: #3e6a68;
    }

    footer .footer-left-cont a {
        color: #3e6a68;
    }


    footer ul {
        display: flex;
        gap: 15px;
    }

    footer ul a {
        display: flex;
        color: #3e6a68;
    }




    


/*
================================================================
================================================================
    Media Quieries
================================================================
================================================================
*/


    /* ---------------------- */
    /* Small Devices (Mobile) */
    /* ---------------------- */
        @media only screen and (max-width : 1024px) {

            header {
                padding: 30px;
            }

            footer {
                padding: 15px 30px;
                flex-direction: column;
                gap: 15px;
            }

            .footer-left-cont {
                width: 100%;
                flex-wrap: wrap;
                justify-content: center;
            }

            .footer-left-cont span,
            .footer-left-cont a {
                white-space: nowrap;
            }

            #hero-section {
                padding: 30px;
            }

            #left-cont {
                width: 100%;
            }

            #left-cont h1 {
                font-size: 42px;
                line-height: 58px;
                margin-bottom: 15px;
            }

            #left-cont h1 b {
                font-size: 46px;
                line-height: 59px;
            }

            #right-cont {
                display: none;
            }

        }

